.todo-list {
  max-height: 400px;
  overflow-y: auto;
  padding: 0 0.75rem;
}

.todo-list::-webkit-scrollbar {
  width: 5px;
}

.todo-list::-webkit-scrollbar-track {
  background: transparent;
}

.todo-list::-webkit-scrollbar-thumb {
  background: var(--clr-primary);
  border-radius: 5px;
}

.todos {
  display: grid;
  gap: 1.5rem;
}

@media (min-width: 475px) {
  .todo-list {
    max-height: 275px;
  }
}

/* sm */
@media (min-width: 640px) {
  :root {
    --text-multiplier: 0.9;
  }
  .todo-list {
    max-height: 280px;
  }
}

/* md */
@media (min-width: 768px) {
  .todo-list {
    max-height: 425px;
  }
}

/* lg */
@media (min-width: 1024px) {
}

/* xl */
@media (min-width: 1280px) {
  .todo-list {
    max-height: 445px;
  }
}

/* 2xl */
@media (min-width: 1536px) {
  .todo-list {
    max-height: 500px;
  }
}
