.todo-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* max-width: 400px; */
  width: 100%;
  padding: 0.5rem 1rem;
  border-radius: 12px;
  color: var(--clr-text-primary);
  /* background: rgb(0, 111, 64);
  background: -moz-linear-gradient(
    270deg,
    rgba(0, 111, 64, 1) 0%,
    rgba(68, 228, 149, 1) 100%
  );
  background: -webkit-linear-gradient(
    270deg,
    rgba(0, 111, 64, 1) 0%,
    rgba(68, 228, 149, 1) 100%
  );
  background: linear-gradient(
    270deg,
    rgba(0, 111, 64, 1) 0%,
    rgba(68, 228, 149, 1) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#006f40",endColorstr="#44e495",GradientType=1); */
  border-left: 10px solid var(--clr-primary);
  box-shadow: rgba(0, 111, 64, 0.05) 0px 1px 2px 3px;
}

.todo-card.completed {
  background: #d3d3d3; /* Gray background for completed tasks */
  color: #6c757d; /* Muted text color */
  box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 2px 3px;
}

.completed .todo-title,
.completed .todo-description {
  text-decoration: line-through;
}

.todo-card .card-content {
  flex: 1;
}

.todo-title {
  font-size: calc(var(--fs-500) * var(--text-multiplier));
  margin-bottom: 0.125rem;
}

.todo-description {
  font-size: calc(var(--fs-300) * var(--text-multiplier));
}

.card-content .divider {
  width: 95%;
  height: 0.5px;
  background-color: #adb5bd;
  margin: 0.45rem 0;
}

.todo-tags {
  display: flex;
  flex-wrap: wrap;
  gap: 0.25rem;
  align-items: center;
  margin-bottom: 0.25rem;
}

.priority-tag {
  padding: 0.25rem 0.5rem;
  border-radius: 6px;
  text-transform: capitalize;
}

.priority-low {
  border: 2px solid var(--clr-text-primary);
}

.priority-medium {
  background-color: rgb(var(--clr-warning));
}

.priority-high {
  background-color: rgb(var(--clr-danger));
}
.due-date-tag {
  border: 2px solid var(--clr-primary);
  padding: 0.25rem 0.5rem;
  border-radius: 6px;
  font-size: calc(var(--fs-200) * var(--text-multiplier));
}

.todo-created-at {
  font-size: calc(var(--fs-200) * var(--text-multiplier));
  text-transform: capitalize;
}

.todo-actions {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.btn-actions {
  padding: 0.5rem 1rem;
  align-self: flex-start;
  border-radius: 12px;
  outline: none;
  font-size: calc(var(--fs-200) * var(--text-multiplier));
  font-weight: (--fw-extrabold);
}

.btn-delete {
  border: 2px solid rgb(var(--clr-danger));
  background-color: rgba(var(--clr-danger), 0.2);
}

.btn-update {
  border: 2px solid rgb(var(--clr-success));
  background-color: rgba(var(--clr-success), 0.2);
}

.todo-card button {
  padding: 5px;
  border: none;
  border-radius: 8px;
  color: white;
  font-size: 1.2em;
  cursor: pointer;
  transition: transform 0.2s ease-in-out, background 0.2s ease-in-out;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Check Button */
.check-btn {
  background: #34c759; /* Green */
}

.check-btn:hover {
  background: #28a745; /* Darker green on hover */
  transform: scale(1.1);
}

/* Delete Button */
.delete-btn {
  background: #ff4b5c; /* Red */
}

.delete-btn:hover {
  background: #e0434f; /* Darker red on hover */
  transform: scale(1.1);
}

/* Update Button */
.update-btn {
  background: #45c36f; /* Lighter green */
}

.update-btn:hover {
  background: #3ab360; /* Darker green */
  transform: scale(1.1);
}

/* Icons Styling */
button i {
  margin: 0;
}

@media (min-width: 768px) {
  .todo-card button {
    border-radius: 10px;
  }
}
