main {
  display: grid;
  gap: 1.5rem;
}

main .title {
  font-size: clamp(var(--fs-300), 8vw, var(--fs-800));
  text-align: center;
  margin-bottom: 2.5rem;
  font-family: poppins, "sans-serif";
  color: var(--clr-text-primary);
}

.relax-container {
  display: grid;
  place-items: center;
  gap: 2px;
}

.relax-icon {
  width: 60px;
  height: 60px;
  opacity: 0.8;
}

.relax-text {
  color: #2e2e2e;
  font-size: calc(var(--fs-700) * var(--text-multiplier));
  font-weight: 900;
  opacity: 0.5;
  text-align: center;
}

.relax-container .loader {
  width: 70px;
  height: 70px;
  max-width: 100%;
}

@media (min-width: 768px) {
  main {
    grid-template-columns: 2fr 1fr;
    align-items: start;
  }
  .main-empty {
    align-items: center;
  }

  main .title {
    text-align: left;
    text-decoration: underline;
    text-underline-offset: 12px;
  }
}
