.container {
  max-width: 1536px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 0.85rem;
  padding-right: 0.85rem;
  /* min-height: 100vh; */
  /* border: 2px solid blue; */
}

/* Media queries */
/* xs */
@media (min-width: 475px) {
  .container {
    max-width: 475px;
  }
}

/* sm */
@media (min-width: 640px) {
  .container {
    max-width: 640px;
  }
}

/* md */
@media (min-width: 768px) {
  .container {
    max-width: 768px;
    /* display: grid;
    grid-template-columns: 2fr 1fr;
    align-items: start; */
    padding-left: 1rem;
    padding-right: 1rem;
  }
  main {
    display: grid;
    grid-template-columns: 2fr 1fr;
    align-items: start;
  }
}

/* lg */
@media (min-width: 1024px) {
  .container {
    max-width: 1024px;
  }

  :root {
    --text-multiplier: 1.15;
  }
}

/* xl */
@media (min-width: 1280px) {
  .container {
    max-width: 1280px;
  }
}

/* 2xl */
@media (min-width: 1536px) {
  .container {
    max-width: 1536px;
  }
  :root {
    --text-multiplier: 1.2;
  }
}
